{% extends 'base.html' %}

{% block title %}
SADDAM - Projects
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row row-cols-1 row-cols-md-4 g-4">
  {% for service in services %}
  <div class="col">
    <div class="card h-100 text-white mt-5" style="background-color: black; border-radius: 15px; box-shadow: 0 0 10px teal;">
      <img class="card-img-top" src="{{ service.img.url }}" alt="">
      <div class="card-body">
        <h1 class="card-title text-center">{{ service.title}}</h1>
        <p class="card-text">{{ service.desc | slice:":150" }}...</p>
      </div>
    </div>
  </div>
    {% endfor %}
  </div>
</div>
{% endblock %}


