
.progress{
    margin-top: 4px;
    color: black;
    background-color: white;
    height: 15px;
}
.progress-bar{
    background-color: rgb(82, 184, 82);
    
}

@media screen and (max-width:768px) {
    .card-group{
        display: block;
        margin-top:15rem;
        width: 100%;
    }
}

